@font-face {
    font-family: f1;
    src: url(Dear\ Script\ \(Demo_Font\).otf);
}

@font-face {
    font-family: f2;
    src: url(twilight\ New\ Moon.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1626145790046-a282bc666b69?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center ;
    /* text-align: center; */
    padding: 1px;


}

h1{
    font-family: f1;
    font-size: 40px;
    font-weight: 110;
    margin-left: 10px;
}

p{
    font-family: f2;
    font-size: 20px;
    margin-left: 10px;
}

button{
    background-color: transparent;
    color: rgb(42, 12, 12);
    border: 2px solid black;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
}